.card {
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 20px auto; /* Center cards horizontally */
    max-width: 400px; /* Adjust max-width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap if needed */
    justify-content: center; /* Center cards horizontally */
    padding: 20px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.content {
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.author, 
.category, 
.votes-comments, 
.date {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.author {
    font-style: italic;
}

.category {
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.votes-comments {
    font-weight: bold;
}

.date {
    color: #999;
}

.article-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.article-list li {
    margin: 20px; 
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the current text color */
}

a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}